<!-- Modal -->
<div class="modal fade" id="new_invitee_response" tabindex="-1" role="dialog" aria-labelledby="start_surveyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="start_surveyLabel">New Response</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: [@leadership_survey,@response] do |form| %>
        <div class="modal-body">
            <div class="form-group">
              <%= form.label :user_type,"Relation with inviter",class: "control-label" %>
              <!-- <div class="col-sm-10"> -->
                <%= form.select :user_type,Response.user_types.keys.map { |k| [k.humanize,k]  },class: "form-control",required: true %>
              <!-- </div> -->
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" >Save changes</button> -->
            <%= form.submit "Start Assessment",id: "survey_submit",class: "btn btn-primary disable-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>