<div class="footer-bg-color text-2">
  <div class="container footer-large">
    <div class="row">
      <div class="col-md-4 footer-des">
        <a class="footer-logo-text" href="<%root_path%>"><img width="200" src="/logo.png"></a>
        <p class="text-left mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="mb-0">Social Links:
          <a href="https://facebook.com">
            <i class="fab fa-facebook-f mx-2"></i>
          </a>
          <a href="https://twitter.com">
            <i class="fab fa-twitter mx-2"></i>
          </a>
          <a href="https://instagram.com">
            <i class="fab fa-instagram mx-2"></i>
          </a>
          <a href="https://pinterest.com">
            <i class="fab fa-pinterest-p mx-2"></i>
          </a>
        </p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-4 col-6 mt-4 mt-md-0">
            <h4 class="mb-3">SERVICES</h3>
            <a href="#" >Lorem ipsum</a><br>
            <a href="#" >Lorem ipsum</a><br>
            <a href="#" >Lorem ipsum</a><br>
            <a href="#" >Lorem ipsum</a>
          </div>
          <div class="col-sm-4 col-6 mt-4 mt-md-0">
            <h4 class="mb-3">SUPPORT</h3>
            <a href="#" >Lorem ipsum</a><br>
            <a href="#" >Lorem ipsum</a><br/>
            <a href="#" >Lorem ipsum</a><br/>
            <a href="#" >Lorem ipsum</a>
          </div>
          <div class="col-sm-4 col-6 mt-4 mt-md-0">
            <h4 class="mb-3">GET IN TOUCH</h3>
            <a href="#" >Lorem ipsum</a><br>
            <a href="#" >Lorem ipsum</a><br/>
            <a href="#" >Lorem ipsum</a><br/>
            <a href="#" >Lorem ipsum</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <hr class="my-0">
  <div class="footer-small">
    <p class="mb-0 text-center">Mind Growing © 2019 - All rights reserved <span class="d-none">| Developed By<a href="http://systemplus.com.pk" > System Plus</a> </span></p>
  </div>
</div>