<div class="container-fluid container-top">
  <div class="container container-signin container-sign">
    <div class="modal-login-body">
      <h3 class="text-center">Settings</h3>
      <hr/>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "profile_form", method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "",placeholder: 'Enter Your Email', class: 'form-control login-form', required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off",required: true, placeholder: 'Enter Your New Password', class: 'form-control login-form', required: true, minlength: 6 %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off",required: true, placeholder: 'Confirm Your New Password', class: 'form-control login-form', required: true, minlength: 6 %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off",required: true, placeholder: 'Enter Your  Current Password', class: 'form-control login-form', required: true, minlength: 6 %>
      </div>
      <div class="actions mt-3">
        <%= f.submit "Update", class: 'btn btn-primary btn-lg btn-block mb-3' %>
      </div>
      <% end %>
    </div>
  </div>
</div>